<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kade.batchinserttest.mapper.MybatisBatchInsertMapper">
    <insert id="batchInsert" parameterType="kr.kade.batchinserttest.model.OrderDto">
        INSERT INTO table_order(order_id, product_nm, order_type)
        VALUES
            <foreach collection="list" item="item" separator=",">
                (nextval('order_sequence'), #{item.productNm}, #{item.orderType})
            </foreach>
    </insert>
</mapper>